<!DOCTYPE html>
<html>
  <head>
      <title> {{title}} </title>
  </head>
  <body>
    <div>
      <h1>Save files to Dropbox</h1>
      <p>
        Enter the URL of the file to be saved to Dropbox in this field:
        <form>
          <input name="url" value="" placeholder="Enter URL here" />
          <input type="submit" value="Save URL" />
        </form>
      </p>
    </div>
    <script type="text/javascript" src="js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
    data-app-key="2depygh4g2l61s3"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
